picture {
    position: static;
}

.story {
    padding-top: 150px;
    background-color: var(--color-light-yeloow);
    background-image: url("../images/A-our-story-bg-bottom-3.png");
    background-position: bottom;
}

.story .inner {
    display: block;

}

.story .story-wrap {
    display: flex;
}

.story .story-wrap .story-left {
    width: 100%;
    max-width: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.story .story-wrap .story-left .story-items {
    display: flex;
    flex-direction: column;
}

.story .story-wrap .story-left picture {
    display: flex;
    justify-content: center;
    align-items: center;
}


.story .story-wrap .story-left img {
    width: 314px;
}


.story .story-wrap .story-left .story-items .description {
    max-width: 500px;
    padding-top: 100px;
    text-align: left;
}

.story .story-wrap .story-left .story-items .description p {
    font-size: 22px;
    padding-bottom: 20px;
}

.story .story-wrap .story-left .story-items .description p b {
    color: var(--color-green);
    font-weight: 700;
}

.story .story-wrap .story-right {
    width: 100%;
    max-width: 580px;
    padding-left: 100px;
    position: relative;
}

.story .story-wrap .story-right .description {
    max-width: 450px;
    text-align: left;
}

.story .story-wrap .story-right .description p {
    font-size: 22px;
    padding-bottom: 20px;
}

.story .story-wrap .story-right img.factory {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100px, -290px);
}

.story .story-wrap:nth-child(2) .story-left picture {
    padding-bottom: 231px;
}

.story .story-wrap:nth-child(2) .story-left img {
    width: 134px;
    position: absolute;
    top: 0;
    right: 0;
}

.story .story-wrap:nth-child(2) .story-left .story-items .description {
    padding-top: 50px;
}

.story .story-wrap:nth-child(3) {
    justify-content: flex-end;
    padding-top: 200px;
}

.story .story-road {
    position: relative;
}

.story .story-road picture .yoyo {
    width: 473px;
    position: absolute;
    right: 0;
    bottom: 240px;
    transform: translateX(0);
}

.services {
    position: relative;
    background-color: var(--color-light-green);
    background:
        url("../images/A-noodle-shadow-01.png") right 15% no-repeat,
        url("../images/A-noodle-shadow-02.png") left 80% no-repeat,
        var(--color-light-green);
    background-size: 65%;
    padding: 80px 0;
}

.services .services--line--top {
    width: 100%;
    height: 74px;
    background-image: url("../images/A-services-top-border-2048x70.png");
    background-size: cover;
    position: absolute;
    top: -55px;
}

.services .services--line--bottom {
    width: 100%;
    height: 74px;
    background-image: url("../images/A-services-bottom-border-2048x68.png");
    background-size: cover;
    position: absolute;
    bottom: -55px;
}

.services .inner {
    max-width: 880px;
    display: block;
}

.services .description {
    padding-bottom: 50px;
}

.services .description p {
    font-size: 20px;
    line-height: 1.5;
}

.services .services-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.services .services-item .services-item-img {
    width: 100%;
    max-width: 332px;
    position: relative;
}

.services .services-item .services-item-img img {
    width: 100%;
}

.services .services-item .services-item--bedge {
    max-width: 159px;
    position: absolute;
    top: -25px;
    right: -25px;
}

.services .services-item:nth-child(2) .services-item--bedge {
    bottom: -15px;
    top: auto;
}

.services .services-item .services-item-txt {
    text-align: left;
    padding: 0;
}

.services .services-item:nth-child(odd) .services-item-txt {
    text-align: right;
}

.services .services-contact .services-contact-board {
    margin-top: 80px;
    position: relative;
}

.services .services-contact .services-contact-board img {
    width: 100%;
}

.services .services-contact .services-contact-board .description {
    max-width: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 50px;
    box-sizing: border-box;
}

.services .services-contact .btn {
    width: 100%;
    max-width: 400px;
    font-size: 20px;
    font-weight: 800;
    color: var(--color-brown);
    text-align: center;
    border: 1px solid var(--color-brown);
    border-radius: 25px;
    background-color: #C4781C;
    box-shadow: 5px 5px 0px 0px var(--color-brown);
    padding: 6px 25px;
    margin: 30px auto 0;
}

.production {
    background-image: url("../images/A-production-bg-2.png");
    padding: 180px 0;
}

.production .inner {
    display: block;
}

.production .production-video {
    width: 100%;
    height: 0;
    padding-top: 56%;
    position: relative;
    border: 1px solid var(--color-brown);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 2px 4px 0px 0px var(--color-brown);
    box-sizing: border-box;
}

.production .production-video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.production .production-process {
    text-align: center;
    padding: 55px 40px;
}

.production .production-process h1 {
    font-size: 72px;
    font-weight: 900;
    color: var(--color-brown);
}

.production .production-process .production-process-img {
    overflow: hidden;
    margin-top: 30px;
}

.production .production-process .production-process-img img {
    animation: scrollAnimation 25s infinite forwards;
}

.production .production-process .production-process-img img {
    width: 400%;
}

@keyframes scrollAnimation {
    from {
        transform: translateX(0);
        /* 시작 지점 설정 */
    }

    to {
        transform: translateX(-100%);
        /* 종료 지점 설정 */
    }
}

@media (max-width:1280px) {
    .description h1 {
        font-size: 52px;
    }

    .story .story-wrap .story-left img {
        width: 200px;
    }

    .story .story-wrap .story-right .description p {
        font-size: 16px;
    }

    .story .story-wrap .story-left .story-items .description p {
        font-size: 16px;
    }

    .story .story-wrap:nth-child(2) .story-left picture {
        padding-bottom: 100px;
    }

    .story .story-wrap:nth-child(2) .story-left img {
        width: 80px;
        top: -20px;
        right: 25px;
    }

    .story .story-wrap .story-right img.factory {
        width: 100%;
        transform: translate(50px, -125px);
    }

    .story .story-wrap:nth-child(3) {
        padding: 0;
    }

    .story .story-road picture img:nth-child(1) {
        width: 150%;
    }

    .story .story-road picture .yoyo {
        width: 350px;
    }

    .services .description p {
        font-size: 16px;
    }

    .services .services-item .services-item-img {
        max-width: 313px;
    }

    .services .services-item .services-item-txt {
        max-width: 407px;
    }

    .services .services-item .services-item--bedge {
        max-width: 135px;
    }

    .production .production-process h1 {
        font-size: 52px;
    }
}

@media (max-width:1000px) {
    .description h1 {
        text-align: center;
        font-size: 46px;
    }

    .description h3 {
        font-size: 30px;
    }

    .story {
        padding-top: 110px;
    }

    .story .inner {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .story .inner::after {
        content: "";
        background-image: url("../images/A-our-story-factory-01.png");
        width: 100%;
        height: 800px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .story .story-wrap {
        max-width: 600px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .story .story-wrap .story-left {
        max-width: none;
    }

    .story .story-wrap .story-left picture {
        display: none;
    }

    .story .story-wrap .story-left .story-items .description {
        padding: 0;
        max-width: none;
    }

    .story .story-wrap:nth-child(2) .story-left .story-items .description {
        padding: 0;
    }

    .story .story-wrap .story-right {
        max-width: none;
        padding: 0;
    }

    .story .story-wrap .story-right .description {
        max-width: none;
        padding-bottom: 45px;
    }

    .story .story-wrap .story-right .description p {
        padding-top: 20px;
    }

    .story .story-wrap:nth-child(2) .story-right {
        display: none;
    }

    .story .story-road picture img:nth-child(1) {
        width: 100%;
    }

    .story .story-road picture .yoyo {
        width: 270px;
        bottom: 140px;
    }

    .services .description {
        max-width: 550px;
    }

    .services .description p {
        font-size: 14px;
    }

    .services .services-item {
        gap: 75px;
    }

    .services .services-item .services-item-img {
        max-width: 258px;
    }

    .services .services-item .services-item-txt {
        max-width: 320px;
        margin: 0;
    }

    .services .services-item .services-item--bedge {
        width: 120px;
    }

    .services .services-contact .services-contact-board .description {
        max-width: 600px;
    }

    .production .production-process h1 {
        font-size: 46px;
    }
}

@media (max-width:780px) {
    .story .inner {
        padding-bottom: 200px;
    }

    .story .story-wrap {
        padding: 0 20px;
    }

    .story .story-wrap:nth-child(3) {
        padding: 0 20px;
    }

    .story .inner::after {
        height: 400px;
    }

    .story .story-road picture .yoyo {
        bottom: 75px;
    }

    .services .description {
        max-width: 464px;
    }

    .services .services-item {
        flex-direction: column;
        gap: 45px;
        padding-bottom: 40px;
    }

    .services .services-item:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .services .services-item .services-item-img {
        max-width: 280px;
    }

    .services .services-item .services-item-txt {
        max-width: 415px;
        text-align: center;
    }

    .services .services-item:nth-child(odd) .services-item-txt {
        text-align: center;
    }

    .services .services-contact .services-contact-board img {
        content: url("../images/A-signboard-xs.svg");
    }

    .services .services-contact .services-contact-board .description {
        max-width: 80%;
    }

}

@media (max-width:480px) {
    .services .services-contact .services-contact-board img {
        content: url("../images/A-signboard-xxs.svg");
    }

    .services .services-contact .services-contact-board .description {
        max-width: 90%;
    }

}